*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
.nav-center{
    background-color: teal;
    position: fixed;
    height: 60px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    z-index: 1;
}
.nav-header{
    font-size: large;
    font-weight: bold;
    letter-spacing: 2px;
}
.links{
    display: flex;
}
.links li{
    list-style: none;
    margin-top: 6px;
    padding-left: 30px;
}
.links li a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: white;
    padding-left: 20px;
}
.links a:hover {
    color: rgb(87, 33, 33);
    padding-left: 1.5rem;
    text-transform: uppercase;
}
.nav-header button{
    display: none;
}
.bar{
    display: none;
}
.bar div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
@media screen and (max-width: 800px) {
    .links-container{
        position: absolute;
        top: 60px;
        width: 100%;
        height: auto;
        background-color: rgb(82, 145, 136);
        transition: transform 0.5s ease-in;
    }
    .links{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .links li{
        padding-top: 10px;
    }
    .links li a{
        font-size: larger;
        font-weight: bold;
    }
    .nav-header button{
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
    }
    /* BY DEFAULT HIDE LINKS */
    .links{
        height: 0px;
        overflow: hidden;
      }
      /* TOGGLE CLASS */
      .show-links {
        height: 10rem;
      }
      .bar{
          display: block;
      }
}
.home-content {
    min-height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
    background-image: url(quetta.jpg);
    background-size: cover;
    overflow: hidden;
}
.container h1 {
    color: rgb(107, 20, 20);
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 10px;
}
.container p {
    color: rgb(63, 15, 15);
    max-width: 25rem;
    margin: 0 auto;
    margin-bottom: 40px;
    font-weight: bold;
}
.container a{
    text-decoration: none;
    color: white;
    border: 2px solid;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 2px;
}
.container a:hover{
    background-color: rgb(63, 47, 47);
    border: brown;
}
section{
    height: 91vh;
    display: grid;
    place-items: center;
    text-align: center;
    background-image: url(quetta.jpg);
    background-size: cover;
}
section:nth-child(even){
    background-image: none;
}
footer{
    height: 100px;
    color: white;
    background-color: cadetblue;
    display: grid;
    place-items: center;
    justify-content: center;
}
footer p{
    font-size: large;
    font-weight: bold;
}
@keyframes change{
    10%{
        width: 31px;
        height: 26px;
    }
    20%{
        width: 32px;
        height: 27px;
    }
    30%{
        width: 33px;
        height: 28px;
    }
    40%{
        width: 34px;
        height: 29px;
    }
    50%{
        width: 35px;
        height: 30px;
    }
    60%{
        width: 36px;
        height: 31px;
    }
    70%{
        width: 37px;
        height: 32px;
    }
    80%{
        width: 38px;
        height: 33px;
    }
    90%{
        width: 39px;
        height: 34px;
    }
    100%{
        width: 40px;
        height: 35px;
    }
}
.up{
    position: fixed;
    right: 30px;
    top: 90vh;
    text-decoration: none;
    border: 3px solid;
    border-radius: 5px;
    text-align: center;
    width: 40px;
    height: 25px;
    animation: change 2s infinite;
}